p {
  margin: 1em 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 1.875em auto;
}

a {
  color: #08C;
  text-decoration: none;
  &:hover {
    color: #2B2B2B;
  }

  &:focus {
    color: #FFF;
    background: #2B2B2B;
  }
}

blockquote {
  margin: 1.5em 0;
  padding: 0 1em;
  font-size: 1em;
  color: #8F8F8F;
  border-radius: 0 6px 6px 0;
  border-left: 4px solid #CCC;
}

.Main,
.Header > div {
  padding: 2em;

  @media (--medium-up) {
    padding: 2em calc(50% - 330px);
  }
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Main {
  flex: 1;
}

.Read-more {
  color: #2B2B2B;
  font-style: italic;
}
