p {
  margin: 1em 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 1.875em auto;
}

a {
  color: var(--blue);
  text-decoration: none;
  &:hover {
    color: var(--navy);
  }

  &:focus {
    color: #FFF;
    background-color: var(--navy);
  }
}

blockquote {
  margin: 1.5em 0;
  padding: 0 1em;
  font-size: 1em;
  color: var(--secondaryGray);
  border-radius: 0 6px 6px 0;
  border-left: 4px solid var(--gray);
}
