code {
  font-family: monospace;
  font-size: 1.1rem;
  padding: 0 0.5em;
  color: #000;
}

.highlight {
  display: block;
  position: relative;
  margin: 1em 0;
  padding: 1em;
  line-height: 1.3;
  overflow-x: auto;
  border-left: 4px solid #CCC;

  code {
    /* reset styles when wrapped */
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: none;
  }

  & > pre {
    margin: 0;
  }

  em {
    color: #545454;
    font-weight: bold;
  }
}

p {
  code {
    background-color: #EEE;
  }
}

/* language indicator */
code[data-lang]:after {
  content: attr(data-lang);
  position: absolute;
  top: 0;
  right: 0;
  min-width: 1.5em;
  padding: 0em .6em;
  text-align: center;
  font-size: .75em;
  line-height: 1.6;
  text-transform: uppercase;
  font-family: $sans-serif;
  color: hsl(0,0%,66%);
  border-radius: 0 6px;
  border-left: 1px solid hsla(0, 0%, 0%, 0.05);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
  background-color: hsla(0, 0%, 0%, 0.03);
}
