:root {
  background: #FFF;
  color: #111;
  font-family: 'Merriweather', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@custom-media --medium-up (width >= 40em);
@custom-media --large-up (width >= 60em);
