:root {
  --bg: #FEFEFE;
  --navy: #001F3F;
  --blue: #08C;
  --navyBlue: #265C83;
  --gray: #CCC;
  --secondaryGray: #8F8F8F;

  background-color: var(--bg);
  color: var(--navy);
  font-family: -apple-system, Avenir Next, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

@custom-media --medium-up (width >= 40em);
@custom-media --large-up (width >= 60em);
