.u-visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.u-tdNone {
  text-decoration: none;
}

.u-taCenter {
  text-align: center;
}

.u-taRight {
  text-align: right;
}

.u-video {
  position: relative;
  width: 100%;
  margin: 2.5em 0;
  padding-bottom: 56.25%;

  iframe,
  object,
  embed {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.u-hr {
  &:after {
    display: block;
    content: '';
    width: 150px;
    height: 2px;
    margin: 22px 0;
    background: #D1D1D1;
  }
}

.u-action {
  display: inline-block;
  font-size: calc((12 / 16)rem);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--secondaryGray);
}
