---
layout: default
---

<div class="Archive">
  <h2 class="u-hr">Archive</h2>
  {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h3 class="Archive-year" id="year-{{ post.date | date: "%Y" }}">{{ currentdate }}</h3>
    <ul class="Archive-list" aria-label="articles/posts archive, by date, newest first">
    {% assign date = currentdate %}
    {% endif %}
      <li class="Archive-item">
        <time
          class="Archive-meta Archive-date"
          datetime="{{ post.date | date_to_xmlschema }}"
          itemprop="datePublished"
        >
          {{ post.date | date: "%b %d" }}
        </time>
        <a class="Archive-link u-tdNone" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
      </li>
    {% if forloop.last %}
    </ul>
    {% endif %}
  {% endfor %}
</div>
