---
layout: default
---

<div class="Home">
  <div class="Hero">
    <p>Hey, I'm Lucas, a Software Developer living in Berlin.</p>
  </div>
  <div class="Posts-list">
    <h2 class="u-hr">Recent posts</h2>
    <ul aria-label="articles/posts by date, newest first">
      {% for post in site.posts limit: 5 %}
      {% if post.hidden %}
      {% else if %}
        {% include post-item.html post=post %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <a class="u-action u-tdNone" href="/archive">Archive →</a>
</div>
