.Main,
.Nav--header,
.Footer > div {
  padding: 1.5em;

  @media (--medium-up) {
    padding: 2em calc(50% - 330px);
  }
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Main {
  flex: 1;
}

.Home-about {
  border-bottom: thin solid var(--navy);

  p {
    font-size: 1.875rem;
    font-weight: 500;
  }
}

.Read-more {
  font-weight: 600;
  font-style: italic;

  &:hover {
    text-decoration: underline;
  }
}
