.Post-header,
.Page-header {
  text-align: center;
}

.Nav-item {
  font-size: .875rem;
  color: #5F6161;
  margin: 1em;
  padding: 0 .5em;
  display: block;

  @media (--medium-up) {
    display: inline-block;
  }
}
