<footer class="Footer">
  <nav class="Nav">
    <a href="/about" class="Nav-item">About</a>
    <a href="https://github.com/AgtLucas" class="Nav-item">GitHub</a>
    <a href="https://linkedin.com/in/agtlucas" class="Nav-item">LinkedIn</a>
    <a href="https://twitter.com/_agtlucas" class="Nav-item">Twitter</a>
  </nav>

  <svg class="jp-Name" width="180px" height="720px" viewBox="364 143 180 720" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <text id="ル" stroke="none" fill="none" font-family="AiharaHudemojiKaisho" font-size="180" font-weight="normal">
          <tspan x="364" y="298" fill="#5F6161">ル</tspan>
          <tspan x="364" y="478" fill="#5F6161">ー</tspan>
          <tspan x="364" y="658" fill="#5F6161">カ</tspan>
          <tspan x="364" y="838" fill="#5F6161">ス</tspan>
      </text>
  </svg>
</footer>
