<header class="Header" role="banner">
  <nav class="Wrapper">
    <ul>
      <li class="lcs-d-ib HeaderItem HeaderItemLogo">
        <a class="HeaderItemLink CustomLinks lcs-td-n" href="/">Lucas</a>
      </li>
      <li class="lcs-d-ib HeaderItem">
        <a class="HeaderItemLink CustomLinks lcs-td-n" href="/about">About</a>
      </li>
      <li class="lcs-d-ib HeaderItem">
        <a class="HeaderItemLink CustomLinks lcs-td-n" href="/blog">Blog</a>
      </li>
      <li class="lcs-d-ib HeaderItem">
        <a class="HeaderItemLink CustomLinks lcs-td-n" href="mailto:agtlucas@me.com">Contact</a>
      </li>
      <li class="lcs-d-ib HeaderItem">
        <button id="theme-switcher" title="Don't click here">
          <span role="img" aria-label="Switch site colour scheme">🎨 </span>
        </button>
      </li>
    </ul>
  </nav>
</header>
