<header class="Header" role="banner">
  <nav class="Wrapper">
    <ul>
      <li class="lcs-d-ib HeaderItem HeaderItemLogo">
        <a class="HeaderItemLink CustomLinks lcs-td-n" href="/">Lucas</a>
      </li>
      <li class="lcs-d-ib HeaderItem">
        <a class="HeaderItemLink CustomLinks lcs-td-n" href="/about">About</a>
      </li>
      <li class="lcs-d-ib HeaderItem">
        <a class="HeaderItemLink CustomLinks lcs-td-n" href="/blog">Blog</a>
      </li>
      <li class="lcs-d-ib HeaderItem">
        <a class="HeaderItemLink CustomLinks lcs-td-n" href="https://lucas.art/">My art</a>
      </li>
    </ul>
  </nav>
</header>
