.Post {
  margin: var(--lcs-spacing-l) 0;

  @media (--large) {
    margin: var(--lcs-spacing-xxl) 0;
  }
}

.PostWrapper {
  width: 60em;
  max-width: 100%;
  margin: auto;
  padding: 0 var(--lcs-spacing-l);
}

.PostHeader {
  text-align: center;
}

.PostContent {

  & p {
    font-size: var(--lcs-font-size-4);
  }

  & h2 {
    font-size: var(--lcs-font-size-1);
  }
}
