.Header-item {
  display: inline-block;

  &:first-child {
    margin-right: 1.5em;

    a {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }

  &:not(:first-child) {
    margin-right: 1em;

    a {
      @media (--medium-up) {
        padding: 0.5em;
      }
    }
  }
}
