.Post-header {
  margin-bottom: 1.875em;
}

.Post-item:not(:last-child) {
  margin-bottom: 4em;
}

.Post-item {
  .Post-meta {
    display: block;
    margin: .5em 0;
  }
}

.Post-link {
  color: inherit;
}

.Post-content {
  ul {
    margin-left: 1.1em;
    list-style: disc;
    li {
      margin: .5em 0;
    }
  }
}

.Post-meta {
  font-size: .875rem;
}

.Post-comments {
  padding-top: 60px;
}
