.Posts-list {
  margin-top: 3.125rem;
}

.Post {
  .Post-meta {
    margin-top: 0;
  }

  h2, h3 {
    margin: 1em 0;
    font-weight: 500;
  }
}

.Post-header {
  margin-bottom: calc((35 / 16)rem);
}

.Post-item {
  margin-top: 3.125rem;

  .Post-meta {
    display: block;
    margin: 0.6em 0 0 0;
  }

  &:last-of-type {
    margin-bottom: 4.375rem;
  }
}

.Post-content {
  ul {
    list-style: disc;
    li {
      list-style: square;
      margin: 0.5em 0;
    }
  }
}

.Post-meta {
  font-size: calc((12 / 16)rem);
  color: var(--secondaryGray);
}

.Post-comments {
  padding-top: 3.75em;
}

.Post-language {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  top: -2px;
  left: 5px;
}
