.Post {
  .Post-meta {
    margin-top: 0;
  }

  h2, h3 {
    margin: 1.2em 0;
  }
}

.Post-header {
  margin-bottom: 1.875rem;
}

.Post-item {
  margin: 4.375rem 0;
}

.Post-item {
  .Post-meta {
    display: block;
    margin: 0.5em 0;
  }
}

.Post-link {
  font-size: 1.5rem;
  font-weight: 700;
  color: inherit;
}

.Post-content {
  ul {
    margin-left: 1.1em;
    list-style: disc;
    li {
      margin: 0.5em 0;
    }
  }
}

.Post-meta {
  font-size: 0.875rem;
}

.Post-comments {
  padding-top: 3.75em;
}
