html
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit

body
  font-family: 'Roboto Mono'
  line-height: 1.5
  background: #2c2c2c
  color: #e3ca7d
  text-rendering: optimizeLegibility

a
  text-decoration: none
  color: inherit

.main__content
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  height: 100vh
  padding: 20px

p
  font-size: 20px

ul
  padding: 0
  list-style: none
  li
    display: inline-block
    margin: 10px 20px
