.Footer {
  padding: var(--lcs-spacing-xl) 0;
}

.FooterItem {
  margin-right: var(--lcs-spacing-m);
  font-weight: var(--lcs-font-weight-9);

  @media (--large) {
    margin-right: var(--lcs-spacing-l);
  }
}
