.Header-item {
  display: inline-block;

  &:first-child {
    margin-right: 1.5em;
    background-color: var(--dark);

    & a {
      padding: 2px 5px;
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: 2px;
      color: var(--light);
    }

    &:hover {
      background-color: var(--navyBlue);
    }
  }
}

.Header-item:not(:first-child) {
  margin-right: 1em;

  & a {
    @media (--medium-up) {
      padding: 0.5em;
    }
  }
}
