.Posts-list {
  margin-top: 3.125rem;
}

.Post {
  & .Post-meta {
    margin-top: 0;
  }

  & h2,
  & h3 {
    margin: 1em 0;
    font-weight: 600;
  }
}

.Post-header {
  margin-bottom: 2.1875rem; /* 35 / 16 */
}

.Post-item {
  margin-top: 3.125rem;

  & p {
    margin: 10px 0;
  }

  & .Post-meta {
    display: block;
  }

  &:first-of-type {
    margin-top: 2rem;
  }

  &:last-of-type {
    margin-bottom: 4.375rem;
  }
}

.Post-content {
  border-bottom: thin solid #F1F1F1;
  padding-bottom: 25px;

  & ul {
    list-style: disc;
    & li {
      list-style: square;
      margin: 0.5em 0;
    }
  }
}

.Post-meta {
  font-size: 0.75rem; /* 12 / 16 */
  color: var(--secondaryGray);
}

.Post-comments {
  padding-top: 3.75em;
}

.Post-language {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  top: -2px;
  left: 5px;
}

.Post-others {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0;

  @media (--medium-up) {
    flex-direction: row;
    justify-content: space-between;
  }

  & a {
    margin: 10px 0;
  }
}
