code {
  font-family: var(--lcs-code-font);
  font-size: var(--lcs-font-size-5);
  font-weight: var(--lcs-font-weight-3);
  padding: 0 var(--lcs-spacing-s);
  color: var(--lcs-border);
}

.highlight {
  position: relative;
  background-color: var(--lcs-bg);
  margin: var(--lcs-spacing-l) 0;
  padding: var(--lcs-spacing-m);
  line-height: var(--lcs-line-height-copy);
  overflow-x: auto;

  & code {
    /* reset styles when wrapped */
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: initial;
  }

  & > pre {
    margin: 0;
  }
}

div.highlight {
  border-left: 5px solid var(--lcs-border);
}
