.lcs-d-b {
  display: block;
}

.lcs-d-ib {
  display: inline-block;
}

.lcs-d-f {
  display: flex;
}

.lcs-td-n {
  text-decoration: none;
}

.lcs-subheadline {
  font-size: var(--lcs-font-size-2);
  line-height: var(--lcs-line-height-title);

  @media (--large) {
    font-size: var(--lcs-font-size-subheadline);
  }
}

.lcs-headline {
  font-size: var(--lcs-font-size-1);
  line-height: var(--lcs-line-height-title);

  @media (--large) {
    font-size: var(--lcs-font-size-headline);
  }
}

.lcs-section {
  margin: var(--lcs-spacing-l) 0;

  @media (--large) {
    margin: var(--lcs-spacing-xxl) 0;
  }
}

.Wrapper {
  width: 80rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 var(--lcs-spacing-m);
}

.CustomLinks {
  color: var(--lcs-color);

  &:focus,
  &:hover {
    color: var(--lcs-border);
  }
}
