.Post {
  margin: var(--lcs-spacing-l) 0;

  @media (--large) {
    margin: var(--lcs-spacing-xxl) 0;
  }
}

.PostContent {
  padding-bottom: var(--lcs-spacing-xxl);
  border-bottom: thin solid var(--lcs-color);

  & ul {
    list-style: disc;
    padding-left: var(--lcs-spacing-s);
    & li {
      list-style: square;
      margin: var(--lcs-spacing-s) 0;
    }
  }
}

.PostWrapper {
  width: 60em;
  max-width: 100%;
  margin: auto;
  padding: 0 var(--lcs-spacing-l);
}

.PostHeader {
  text-align: center;
  margin-bottom: var(--lcs-spacing-l);

  @media (--not-small) {
    margin-bottom: var(--lcs-spacing-xl);
  }
}

.PostItem {
  font-size: var(--lcs-font-size-4);
  font-weight: var(--lcs-font-weight-9);
  margin: var(--lcs-spacing-m) 0;

  @media (--not-small) {
    font-size: var(--lcs-font-size-3);
  }
}

.PostOthers {
  font-weight: var(--lcs-font-weight-9);
  flex-direction: column;
  align-items: center;
  padding: var(--lcs-spacing-xxl) 0 0;

  @media (--not-small) {
    flex-direction: row;
    justify-content: space-between;
  }
}
